

@font-face {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
}

body, html {
  font-family: 'MyFont', sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  background-image: url(daressalaam.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  position: relative;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: hsla(273, 100%, 50%, 0.3);
}

.title {
  display: flex;
  color: rgb(255, 255, 255);
  font-size: large;
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
  height: 100px;
  white-space: nowrap;
}

.travelbutton {
  color: rgb(0, 0, 0);
  display: flex;
  padding-top: 40px;
  white-space: nowrap;
}

.travelbutton button{
  padding: 16px 40px 16px 40px;
  color: rgb(255, 255, 255);
  text-shadow: 0px 0px 4px rgb(0, 0, 0);
  background: #ffaa00;
  background: linear-gradient(to bottom left, #ff7300d8 0%, #ffff00d8 100%);
  border-radius: 30px;
  box-shadow: 0px 0px 8px hsla(0, 0%, 0%, 0.5);
  border: 2px;
  border-color: #00000072;
  border-style: solid;
  font-size: 24px;
}