
@font-face {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'MyFont', sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  background-image: url(daressalaam.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  position: relative;
}

.grid {
  display: grid; 
  grid-template-columns: 0.7fr 1.6fr 0.7fr; 
  grid-template-rows: 1.3fr 0.7fr 0.7fr 1.3fr; 
  gap: 0px 0px; 
  grid-auto-flow: row;
  height: 100vh;
  grid-template-areas: 
    ". . flagsseg"
    ". heroseg ."
    ". buttonseg ."
    ". . ."; 
    background: hsla(273, 100%, 50%, 0.3);
}

.flagsseg {
  grid-area: flagsseg;
  display: flex;
  padding: 20px;
  height: 32px;
  justify-content: right;
}

.flag {
  display: flex;
  height: 32px;
  padding: 0px;
  margin: 8px;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.5);
}

.heroseg {
  grid-area: heroseg;
  display: flex;
  text-align: center;
  font-family: 'MyFont', sans-serif;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 0px 0px 16px rgba(0, 0, 0, 0.5);
}

.buttonseg {
  grid-area: buttonseg;
  display: flex;
  font-family: 'MyFont', sans-serif;
  justify-content: center;
  align-items: start;
}

.buttonseg button {
  padding: 16px 40px 16px 40px;
  color: rgb(255, 255, 255);
  text-shadow: 0px 0px 4px rgb(0, 0, 0);
  background: #ffaa00;
  background: linear-gradient(to bottom left, #ff7300d8 0%, #ffff00d8 100%);
  border-radius: 30px;
  box-shadow: 0px 0px 16px hsla(0, 0%, 0%, 0.5);
  border: 2px;
  border-color: #00000072;
  border-style: solid;
  font-size: 24px;
}

