
@font-face {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
}

body {
  background-image: url(daressalaam.jpg);
  margin: 0;
  padding: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
}

.grid {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  height: 100vh;
  grid-template-areas:
    ". . ."
    ". heroflex ."
    ". . .";
    background: hsla(273, 100%, 50%, 0.3);
}

.heroflex {
  grid-area: heroflex;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

