html{
  font-family:Georgia, 'Times New Roman', Times, serif;
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
.bg {
  /* The image used */
  background-image: url("Steinkross.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.title {
  display:flex;
  color: white;
  font-size: x-large;
  text-shadow: 0px 2px 1.5px hsla(0, 0%, 0%, 0.7);
  height: 70px
}

.navbar {
  color: white;
  text-shadow: 0px 1.8px 1.3px hsla(0, 0%, 0%, 0.7);
  display: flex;
  flex-wrap: wrap-reverse;
  height: 70px;
}

#navinfo {
  margin-right: 8px;
}

#navhvor {
  margin-right: 8px;
  margin-left: 8px;
}

#navmoster {
  margin-left: 4px;
}