@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&family=Roboto:wght@400;700&display=swap');

html {
    font-family: 'Roboto', sans-serif;
    background-color: hsl(234, 29%, 20%);
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    height: 100vh;
    max-width: 800px;
    min-width: 800px;
    max-height: 500px;
    min-height: 500px;
    gap: 0px;
    margin: 50px auto;
    padding: 20px 15px 20px 15px;
    overflow: hidden;
    justify-content: center;
    background-color: white;
    border-radius: 30px;
}

.textside {
    display: flex;
    color: hsl(234, 29%, 20%);
    flex-direction: column;
    width: 377px;
    margin: 0 38px 0 38px
}

.textside h1 {
    display: flex;
    font-size: 34pt;
    line-height: 0;
}

.textside p {
    line-height: 20px
}

.emailtext {
    line-height: 0;
    font-size: 10pt;
    font-weight: 700;
}

.imgside {
    background-image: url('assets/images/illustration-sign-up-desktop.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 100%;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 0px 0px 5px 0;
    padding: 0 0 0 30px;
    background-image: url('assets/images/icon-list.svg');
    background-repeat: no-repeat;
    background-position: 0 50%;
    vertical-align: middle;
    line-height: 1.5;
}

#emailtb {
    display: flex;
    font-size: medium;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    width: 300px;
    height: 50px;
    border-style: solid;
    border-color: hsl(231, 7%, 60%);
    padding-left: 18px;
}

.textside button {
    display: flex;
    font-size: 9.3pt;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: hsl(234, 29%, 20%);
    color: white;
    border-radius: 8px;
    width: 300px;
    height: 50px;
    margin: 30px 0 0 0;
    font-weight: 700;
}