*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'poppins',sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #a1c3ff;
    
}

img{
    max-width: 100%;
    padding-top: 10px;
    height: 450px;
    padding-bottom: 10px;
}

h1,h2{
    margin-bottom: 15px;
}

.container{
    /* These two props make the layout to be in center of the webpage */
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
}

.nav-bar{
    background: #3474e6;
    color: white;
    height: 60px;
}

ul{
    list-style-type: none;
}

.nav-bar .logo{
    font-size: x-large;
    font-weight: bold;
}

.nav-bar a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.nav-bar a:hover{
   color: lightblue;
}

.nav-bar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.nav-bar ul{
    display: flex;
}

.nav-bar ul li{
    margin-left: 20px;
}

.header{
    background-color: #0a51cc;
    color: white;
    min-height: 400px;
}

.header h1{
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.2 ;
}

.header img{
    max-width: 400px;
}

.header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.boxes .container{
    display: flex;
    justify-content: space-between;
    
    
}

.box{
    flex: 1;
    background-color:#0a51cc;
    color: #fff;
    border-radius: 10px;
    margin: 20px 10px;
    box-shadow: 0 3px 5px rgba(0,0,0,0.6);
    padding: 15px 20px;
}

.box i{
    margin-right: 10px;
}

@media only screen and (max-width: 800px) {

    .header .container{
        flex-direction: column;
    }

    .header img{
        width: 100%;
        height: 250px;
        object-fit: cover;
        overflow: hidden;
        position: relative;
    }

    .header h1{
        font-size: 2.2rem;
        font-weight: bold;
        line-height: 1.2 ;
    }

    .box {
        margin: 8px 2px;
    }

    .box h2 {
        font-size: 18px;
    }

    .box p {
        font-size: 16px;
    }

    .boxes .container {
        flex-direction: column;
    }
}